.outside{
  background: linear-gradient(to top, lightsteelblue, navy);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

body{
  font-family: "Lucida Sans Unicode", sans-serif;
}

.main{
  height: 90vh;
  background: slategrey;
  width: 90vw;
  margin: 0 auto;
  border-radius: 500px;
}

.little{
  background: lightgrey;
  margin: 15px 5px 30px 5px;
  border-radius: 50%;;
  width: 30%;
  height: auto;
}

.big{
  background: silver;
  margin: 15px 5px 30px 5px;
  border-radius: 50%;;
  width: 40%;
  height: auto;
}

.welcome_container{
  height: 50vh;
}

.banner_container{
  background: steelblue;
  height: 19vh;
  margin: 5px 1px 0px 1px;
  border: 5px solid darkgrey;
  border-radius: 20px;
  border-style: solid;
  margin: 5px 5px 0px 5px;
}

.banner_content{
  margin: 10px 15px 0px 15px;
  color: white;
}

.banner_content h1{
  font-weight: 500;
}

.banner_content p{
  text-indent: 15px;
}

.form_container{
  background: lightgrey;
  height: 29vh;
  margin: 5px 1px 0px 1px;
  text-align: center;
  border: 5px solid darkgrey;
  border-radius: 20px;
  border-style: solid;
  margin: 5px 5px 0px 5px;
}

.form_content{
  margin: 30px 5px 0px 5px;
}

.form_content input{
  margin: 0px 5px 0px 5px;
  border: 3px solid darkgrey;
  border-radius: 10px;
  border-style: solid;
}

.form_content button{
  margin: 30px 5px 20px 5px;
  width: 70%;
  height: 5vh;
  border: 3px solid darkgrey;
  border-radius: 15px;
  border-style: solid;
  background: grey;
  color: white;
}

button:active{
  background: black;
}

.shortforecast_container{

}

.shortforecast_container_inner{
  height: 48vh;
  margin: 5px 1px 0px 1px;
  border: 5px solid darkgrey;
  border-radius: 20px;
  border-style: solid;
  background: lightgrey;
  margin: 5px 5px 0px 5px;
}

.shortforecast_container_left{
  height:45vh;
  width: 45%;
  margin: 5px 5px 0px 5px;
  font-size: 20px;
}

.shortforecast_container_left h1{
  text-align: center;
  margin: 0px 0px 30px 0px;
}

.shortforecast_container_right{
  text-align: center;
  height: 45vh;
  width: 45%;
  font-size: 24px;
  margin: 5px 5px 0px 5px;
}

.shortforecast_content{
  margin: 5px 5px 0px 5px;
}

.longforecast_container{
  height: 40vh;
}

.longforecast_day_container{
  width: 19%;
  height: 39vh;
  border: 5px solid darkgrey;
  border-radius: 20px;
  border-style: solid;
  margin: 5px 5px 0px 5px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background: steelblue;
  color: white;
}
